global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend owncloud_front
    bind *:8080
    default_backend owncloud_back

backend owncloud_back
    balance roundrobin
    option httpchk GET /
    server owncloud1 owncloud1:8080 check
    server owncloud2 owncloud2:8080 check
